:root {
  background-color: rgb(43, 83, 116);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: white;
  padding: 0;
  margin: 0 auto;
  display: flex;
  width: 100vw;
  height: 100vw;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
.container {
  width: 800px;
  max-width: 90%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(111, 119, 131);
}

#rules-container {
  padding: 20px;
}
.rules-list {
  padding: 20px;
  font-size: 1.4rem;
}
span {
  justify-content: center;
  font-size: 3rem;
  color: white;
  margin-bottom: 1rem;
}

.rules-list ul li {
  margin-bottom: 2rem;
  color: white;
}

#start-btn {
  display: flex;
  text-align: center;
  font-size: 2rem;
  padding: 15px;
  border-radius: 10px;
}

.quiz-container {
  display: flex;
  padding: 20px;
}

.timer-text,
.timer-value {
  font-size: 1.2rem;
  color: aqua;
  padding: 5px;
}

#question {
  font-size: 2rem;
}

.choices-list ol {
  font-size: 1.8rem;
}
li {
  font-size: 1.8rem;
}
